* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.background video {
    max-height: 100vh;
    object-fit: cover;
    display: none;
}

.content {
    background: salmon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    border: none;
    background: none;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.time-btn {
    flex: 1;
    text-align: center;
}

.time-btn button {
    color: white;
    border: solid 3px white;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px;
    transition: all 0.5s ease;
}

.time-btn button:hover {
    color: salmon;
    background-color: white;
}

.player-container {
    flex: 2;
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    text-align: center;
    margin-top: 5vh;
    font-size: 30px;
}

.play img, .play svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    max-width: 100%;
}

.play-btn {
    cursor: pointer;
}
.theme {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme img {
    width: 40px;
}

.theme button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.rain {
    background-color: royalblue;
}
.beach {
    background-color: deeppink;
}

.timer1, .timer2 {
    opacity: 0;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}
