* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.background video {
    max-height: 100vh;
    object-fit: cover;
}

.content {
    background: salmon;
    font-family: 'Montserrat', sans-serif;
    color: white;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    border: none;
    background: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.theme {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.theme img {
    width: 40px;
}

.theme button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgba(255, 245, 238, 0.26);
}


.player-container {
    flex: 2;
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    margin-top: 5vh;
    font-size: 30px;
}

.player-container img, .player-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    max-width: 100%;
}

.play {
    width: 20%;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease;
}

.play:hover {
    width: 21%;
}

.time-btn {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.time-btn button {
    color: white;
    border: solid 3px white;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px;
    transition: all 0.5s ease;
}

.time-btn button:hover {
    color: #fa8072;
    background-color: white;
}

